<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CMS TESTS">
	<test name="Profile Test">
		<classes>
			<class name="tests.ProfileTest"/>
		</classes>
	</test>
	<test name="Meal Item Test">
		<classes>
			<class name="tests.MealItemTest"/>
		</classes>
	</test>
	<test name="Search Test">
		<classes>
			<class name="tests.SearchTest"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->